.container{
	font-family: "Courier New",serif;
	font-weight: bold;
	background-size: 100%;
}

.logo{
	margin-top: 0px;
	margin-bottom: 20px;
	text-align: center;
}

.logo img{
	width: 50px;
}

.navbar{
	display: flex;
	justify-content: space-around;
}

.navbar ul li a:hover{
	color: #971B1B;
}
	
.navbar ul li a{
	text-decoration: none;
	color: black;
	padding: 7px;
}

.navbar ul li{
	padding: 15px;
	display: inline;
}

.navbar ul{
	list-style-type:none;
}

.active{
	color: red;
	text-decoration: underline;
}

.mid{
	margin-top: 50px;
}

.bottom {
	display: flex;
	justify-content: center;
}

.bottom img{
	width: 50px;
	display: inline;
	margin: 20px;

}

p{
	text-align: center;
	margin: 50px;
}
.pics {
	display: flex;
	justify-content: space-around;
}
.pics img{
	border-style: solid;
	margin-top: 10px;
}

.pics a{
	text-decoration: none;
	color: black;
}